                        <!-- total posts -->
                        <!-- <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title"><a href="{% url 'list_posts' %}">Today Posts</a></h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{ post_count }}</div>
                                                <div class="nk-ecwg6-ck"><canvas
                                                        class="ecommerce-line-chart-s3"
                                                        id="todayOrders"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- total categories -->
                        <!-- <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title"><a href="{% url 'list_categories' %}">Total Categories</a></h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{ category_count }}</div>
                                                <div class="nk-ecwg6-ck"><canvas
                                                        class="ecommerce-line-chart-s3"
                                                        id="todayRevenue"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- total tags -->
                        <!-- <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title"><a href="{% url 'list_tags' %}">Total Tags</a></h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{ tag_count }}</div>
                                                <div class="nk-ecwg6-ck"><canvas
                                                        class="ecommerce-line-chart-s3"
                                                        id="todayCustomers"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- total users -->
                        <!-- <div class="col-xxl-3 col-sm-6">
                            <div class="card">
                                <div class="nk-ecwg nk-ecwg6">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Total Users</h6>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="data-group">
                                                <div class="amount">{{ total_users }}</div>
                                                <div class="nk-ecwg6-ck"><canvas
                                                        class="ecommerce-line-chart-s3"
                                                        id="todayVisitors"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
